{
    "extends": ["./node_modules/eslint-plugin-fiori-custom/configure.eslintrc"],
    "rules": {
        "comma-dangle": [
            "warn",
            {
                "arrays": "always-multiline",
                "objects": "always-multiline",
                "imports": "always-multiline",
                "exports": "always-multiline",
                "functions": "never"
            }
        ]
    }
}
